<%= form_for(@comment) do |f| %>
	<% if @comment.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this admin_comment from being saved:</h2>

		<ul>
		<% @comment.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
		<%= f.label :Text %><br>
		<%= f.text_area :Text %>
	</div>

	<div class="field">
		<%= f.label :Date %><br>
		<%= f.date_select :Date %>
	</div>

	<div class="field">
		<%= f.label :Allowed %><br>
		<%= f.text_field :Allowed %>
	</div>

	<div class="field">
		<%= f.label :author_id %><br>
		<%= f.number_field :author_id %>
	</div>

	<div class="field">
		<%= f.label :post_id %><br>
		<%= f.number_field :post_id %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
