<p id="notice"><%= notice %></p>

<h1>Listing Admin Comments</h1>

<table>
	<thead>
		<tr>
			<th>Text</th>
			<th>Date</th>
			<th>Allowed</th>
			<th>Author</th>
			<th>Post</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
	<% @comments.each do |comment| %>
		<tr>
			<td><%= comment.Text %></td>
			<td><%= comment.Date %></td>
			<td><%= comment.Allowed %></td>
			<td><%= comment.user || 1 %></td>
			<td><%= comment.post || 1 %></td>
			<td><%= link_to 'Show', comment, class: 'Button' %></td>
			<td><%= link_to 'Edit', edit_admin_comment_path(comment), class: 'Button' %></td>
			<td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'Button' %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Comment', new_admin_comment_path, class: 'Button' %>
