<p id="notice"><%= notice %></p>

<p>
	<strong>Text:</strong>
	<%= @comment.Text %>
</p>

<p>
	<strong>Date:</strong>
	<%= @comment.Date %>
</p>

<p>
	<strong>Allowed:</strong>
	<%= @comment.Allowed %>
</p>

<p>
	<strong>Author:</strong>
	<%= @comment.author_id %>
</p>

<p>
	<strong>Post:</strong>
	<%= @comment.post_id %>
</p>

<%= link_to 'Edit', edit_admin_comment_path(@comment), class: 'Button' %> |
<%= link_to 'Back', admin_comments_path, class: 'Button' %>
