<%= form_for(:session, url: login_path) do |f| %>

	<%= f.label :Nickname %>
	<%= f.text_field :Nickname %>
	<br>
	<%= f.label :Password %>
	<%= f.password_field :Password %>
	<br>
	<%= f.submit 'Log in' %>
<% end %>