<header>
	<nav role="navigation">
		<%= link_to root_path, class: 'item' do %>
			<span class="fa fa-home"></span> <%= siteName %>
		<% end %>
		<%= link_to admin_user_path(current_user), class: 'item' do %>
			<span class="fa fa-user"></span> Profile
		<% end %>

		<span class="Separator"></span>

		<%= link_to admin_path, class: 'item' do %>
			<span class="fa fa-dashboard"></span> Dashboard
		<% end %>
		<%= link_to admin_posts_path, class: 'item' do %>
			<span class="fa fa-file"></span> Posts
		<% end %>
		<%= link_to admin_comments_path, class: 'item' do %>
			<span class="fa fa-comment"></span> Comments
		<% end %>
		<%= link_to admin_categories_path, class: 'item' do %>
			<span class="fa fa-object-group"></span> Categories
		<% end %>
		<% if current_user.check_privilege :EditUsers %>
			<%= link_to admin_users_path, class: 'item' do %>
				<span class="fa fa-users"></span> Users
			<% end %>
		<% else %>
		<% end %>
		<% if current_user.check_privilege :EditPrivileges %>
			<%= link_to admin_privileges_path, class: 'item' do %>
				<span class="fa fa-unlock"></span> Privileges
			<% end %>
		<% end %>
	</nav>
</header>
