<footer>

  <div class="Group">
    <div class="Title"><h3>Widget_last posts (example)</h3></div>

    <% 2.times do %>
        <div class="WidgetPosts">
          <img src="http://placehold.it/80x80">
          <a>Super puper title! It should not be very long or it will be truncated as in current example. That's not the end yet. Wait for it, wait for it. Just wait a minute or two and then check again.</a>
        </div>
    <% end %>

  </div>
  <div class="Group">
    <div class="Title"><h3>Widget_text (example)</h3></div>

    <p>TrendyBlog is a professional HTML5 template perfect for newspaper publishers, magazines ort personal blogs.

      You get 30 fully featured pages with lots of widgets, menus, different post layouts and homepages.</p>
    <p>TrendyBlog is a professional HTML5 template perfect for newspaper publishers, magazines ort personal blogs.

      You get 30 fully featured pages with lots of widgets, menus, different post layouts and homepages.</p>


  </div>
  <div class="Group">
    <div class="Title"><h3>Widget_last posts (example)</h3></div>

    <% 2.times do %>
        <div class="WidgetPosts">
          <img src="http://placehold.it/80x80">
          <a>Super puper title! It should not be very long or it will be truncated as in current example. </a>
        </div>
    <% end %>

  </div>

</footer>