<header>
	<nav role="navigation">
		<%= link_to root_path, class: 'item' do %>
			<span class="fa fa-home fa-lg"></span> <%= siteName %>
		<% end %>
		<%= link_to translate('Posts'), posts_path, class: 'item' %>
		<% unless logged_in? %>
		<%= link_to translate('Log_in'), login_path, class: 'item' %>
		<% else %>
		<% if current_user.admin? or current_user.root? %>
		<%= link_to translate('Dashboard'), admin_path, class: 'item' %>
		<% end %>
		<%= link_to translate('Log_out'), logout_path, method: 'delete', class: 'item' %>
		<% end %>
	</nav>
</header>
