<% if type.eql? 'narrow' %>
<div class="PostPreviewNarrow">
	<div class="Thumbnail">
		<img src="<%= post_preview.Image || 'http://placehold.it/200' %>">
	</div>

	<h3><%= post_preview.Title %></h3>
	<p>Nam in pharetra nulla. Cras aliquet feugiat sapien a dictum. Sed ullamcorper, erat eu cursus sollicitudin, lorem orci condimentum ante.</p>
</div>

<% elsif type.eql? 'wide' %>
	<div class="PostPreviewWide Stretch">
		<img src="<%= post_preview.Image || 'http://placehold.it/200x150' %>" align="left">
	    <div class="Content">
			<h2><%= link_to post_preview.Title, post_path(post_preview)%></h2>
			<div><%= post_preview.Text.truncate(300).html_safe %></div>
		</div>
    </div>
<% end %>
