<div class="FlexContainer" id="Body">
  <div id="Content" style="order: 0;">

	<div class="Group" style="display: none">
	  <div class="Title"><h4>Featured</h4></div>

	<div class="FlexContainer">
		<!-- First big block -->
		<%= render partial: 'post_preview', collection: @posts, locals: {type: 'narrow'} %>
		<!-- end of first big block -->
	  </div>

	</div>

    <div class="Group">
      <div class="Title"><h1><%= translate 'Latest' %></h1></div>

      <div class="FlexContainer Stretch" style="flex-direction: column;">
		<%= render partial: 'post_preview', collection: @posts, locals: { type: 'wide'} %>
      </div>
    </div>

  </div>
  <!-- end of Content -->
  <!-- Sidebar -->
  <div id="Sidebar" style="order: 1; display: none;">

    <div class="Group">
      <div class="Title"><h2>Widget_last posts (example)</h2></div>

      <% 4.times do %>
      <div class="WidgetPosts">
        <a>Super puper title! It should not be very long or it will be truncated as in current example. That's not the end yet. Wait for it, wait for it. Just wait a minute or two and then check again.</a>
      </div>
      <% end %>

    </div>

  </div>
  <!-- end of sidebar -->
</div>
<!-- end of body content -->
