<div id="Body" class="FlexContainer">
  <!-- content -->
  <div id="Content">
	<h1><%= @post.Title %></h1>
    <%= @post.Text.html_safe %>

    <div class="Group" style="display: none;">
      <div class="Title"><h4>Related posts</h4></div>

      <div class="FlexContainer">

        <% 3.times do %>
            <div class="PostPreviewNarrow">
              <div class="Thumbnail">
                <img src="http://placehold.it/500x300">
              </div>
              <h3>Very interesting, 100%!</h3>
            </div>
        <% end %>
      </div>
    </div>

  </div>

  <!-- sidebar -->
  <div id="Sidebar" style="display: none;">
    <div class="Group">
      <div class="Title"><h3>Widget_last posts (example)</h3></div>

      <% 4.times do %>
          <div class="WidgetPosts">
            <img src="http://placehold.it/80x80">
            <a>Super puper title! It should not be very long or it will be truncated as in current example. That's not the end yet. Wait for it, wait for it. Just wait a minute or two and then check again.</a>
          </div>
      <% end %>

    </div>
  </div>
</div>