<div id="Body" class="FlexContainer">
	<!-- content -->
	<div id="Content">

	<div class="Group">
		<div class="Title"><h1><%= translate('Latest') %></h1></div>

		<div class="FlexContainer Stretch" style="flex-direction: column">
			<%= render partial: 'post_preview', collection: @posts , locals: { type: 'wide' }%>
		</div>
	</div>

	</div>

	<!-- sidebar -->
	<div id="Sidebar" style="display: none;">
	<div class="Group">
	  <div class="Title"><h3>Widget_last posts (example)</h3></div>

	  <% 4.times do %>
	      <div class="WidgetPosts">
	        <img src="http://placehold.it/80x80">
	        <a>Super puper title! It should not be very long or it will be truncated as in current example. That's not
	          the end yet. Wait for it, wait for it. Just wait a minute or two and then check again.</a>
	      </div>
	  <% end %>

	</div>
	</div>
</div>
