<%= form_for(@post) do |f| %>
	<% if @post.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

		<ul>
		<% @post.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
		<%= f.label :Title %><br>
		<%= f.text_field :Title %>
	</div>

	<div class="field">
		<%= f.label :Text %><br>
		<%= f.text_area :Text, id: 'editor' %>
	</div>

    <div class="field">
      <%= f.label :Image %><br>
      <%= f.text_field :Image%>
    </div>

	<div class="field">
		<%= f.label :Date %><br>
		<%= f.date_select :Date %>
	</div>

	<div class="field">
		<%= f.label :user_id %><br>
		<%= f.select :user_id, Admin::User.all.collect {|p| [p.Nickname, p.id]} %>
	</div>

	<div class="field">
		<%= f.label :category_id %><br>
		<%= f.select :category_id, Admin::Category.all.collect {|p| [p.Title, p.id]} %>
	</div>

	<div class="field">
		<%= f.label :Published %><br>
		<%= f.check_box :Published %>
	</div>

	<div class="actions">
	<%= f.submit %>
	</div>
<% end %>

<script src="//cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
<script>CKEDITOR.replace('editor');</script>
