<h1>Editing Admin Post</h1>

<%= link_to 'Preview', post_path(@post), target: '_blank' %>

<%= render 'form' %>

<%= link_to 'Show', @post, class: 'Button' %>
<%= link_to 'Back', admin_posts_path, class: 'Button' %>
