<p id="notice"><%= notice %></p>

<h1>Listing Admin Posts</h1>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Thumbnail</th>
			<th>Text</th>
			<th>Date</th>
			<th>Author</th>
			<th>Category</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
	<% @posts.each do |post| %>
		<tr style="background-color: <% if post.Published %>lightgreen<% else %>lightpink<% end %>;">
			<td><%= post.Title %></td>
			<td><img src="<%= post.Image %>" height="64px" width="80px"></td>
			<td><%= post.Text.truncate(300).html_safe %></td>
			<td><%= post.Date %></td>
			<td><%= post.user %></td>
			<td><%= post.category %></td>
			<td id="nb"><%= link_to 'Show', post, class: 'Button' %></td>
			<td id="nb"><%= link_to 'Edit', edit_admin_post_path(post), class: 'Button' %></td>
			<td id="nb"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'Button' %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Post', new_admin_post_path, class: 'Button' %>
