<p id="notice"><%= notice %></p>

<p>
	<strong>Title:</strong>
	<%= @post.Title %>
</p>

<p>
	<strong>Image:</strong>
	<%= @post.Image %>
</p>

<p>
	<strong>Text:</strong>
	<%= @post.Text %>
</p>

<p>
	<strong>Date:</strong>
	<%= @post.Date %>
</p>

<p>
	<strong>Author:</strong>
	<%= @post.user %>
</p>

<p>
	<strong>Category:</strong>
	<%= @post.category %>
</p>

<p>
	<strong>Published: </strong><%= @post.Published? %>
</p>

<%= link_to 'Edit', edit_admin_post_path(@post), class: 'Button' %>
<%= link_to 'Back', admin_posts_path, class: 'Button' %>
