<%= form_for(@category) do |f| %>
	<% if @category.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@category.errors.count, "error") %> prohibited this admin_category from being saved:</h2>

		<ul>
		<% @category.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
		<%= f.label :Title %><br>
		<%= f.text_field :Title %>
	</div>

	<div class="field">
		<%= f.label :Description %><br>
		<%= f.text_area :Description %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
