<p id="notice"><%= notice %></p>

<h1>Listing Admin Categories</h1>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
	<% @categories.each do |category| %>
		<tr>
			<td><%= category.Title %></td>
			<td><%= category.Description %></td>
			<td><%= link_to 'Show', category, class: 'Button' %></td>
			<td><%= link_to 'Edit', edit_admin_category_path(category), class: 'Button' %></td>
			<td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'Button' %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Category', new_admin_category_path, class: 'Button' %>
