<p id="notice"><%= notice %></p>

<p>
	<strong>Title:</strong>
	<%= @category.Title %>
</p>

<p>
	<strong>Description:</strong>
	<%= @category.Description %>
</p>

<%= link_to 'Edit', edit_admin_category_path(@category), class: 'Button' %>
<%= link_to 'Back', admin_categories_path, class: 'Button' %>
