@import 'variables';
@import 'application';

:focus {outline: none;}
::-moz-focus-inner {border: 0;}

a.Button, input[type=submit]
{
	@extend .NoSelect;

	display: inline-block;
	color: black;
	background-color: #f0f0f0;
	border: 1px solid gray;
	border-bottom: 3px solid darkgray;
	border-radius: 3px;
	padding: 3px 5px;

	transition: all 0.1s;

	&:hover
	{
		border-color: $selection;
	}
	&:focus
	{
		border-bottom: 1px solid;
		transform: translate(0px, 3px);
	}
}
a
{
	text-decoration: none;
}

body
{
	margin: 0 0.6% 0 calc(150px + 0.6%);
	width: calc(100% - 1.2% - 150px);
}

header
{
	position: fixed;
	left: 0;
	top: 0;
	width: 150px;
	min-height: 100%;
	margin: 0;

	background-color: $menu_background;

	a
	{
		color: white;
	}

	.Brand
	{
		margin: 10px;
		display: block;
	}

	nav
	{
		@extend .FlexContainer;
		flex-flow: column nowrap;

		a
		{
			padding: 5px 8px;

			&:hover
			{
				background-color: $selection;
			}

			span
			{
				margin: 0 5px;
			}
		}

		.Separator
		{
			width: 100%;
			height: 2px;
			background-color: white;
		}
	}
}

table
{
	border-collapse: collapse;

	td, th
	{
		border: 1px solid $gray;
		padding: 0 5px;
	}
	td#nb
	{
		border: none;
	}
}
