@import "variables";

*, *:before, *:after
{
	box-sizing: border-box;
	outline: none;
}

body
{
	margin: 0;

	color: $text;   // text color
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;

	@media (min-width: 768px) {
		width: 750px;
	}
	@media (min-width: 992px) {
		width: 970px;
	}
	@media (min-width: 1200px) {
		width: 100%;
	}
}

.FlexContainer
{
	display: flex;
	flex-flow: row wrap;
	margin-right: auto;
	margin-left: auto;
	align-content: stretch;
}

.NoSelect
{
	-moz-user-select: none;
	-webkit-user-select: none;
}
