@import 'variables';
@import 'application';

a
{
	color: $text;
	text-decoration: none;

	&:hover
	{
		color: $gray;
	}
}

button
{
	border: none;
	background: transparent;
}

header
{
	margin-bottom: 10px;
	background-color: $light_gray;
	border-bottom: solid 1px $lighter_gray;

	nav
	{
		flex-flow: row nowrap;
		justify-content: flex-start;

		white-space: nowrap;

		.item
		{
			display: block;
			padding: 0 12px;

			text-transform: capitalize;
		}

		@media (min-width: $navbar_collapse_breakpoint) {
			display: flex;
		}
		@media (max-width: $navbar_collapse_breakpoint) {
			position: fixed;
			left: 0;
			width: 100%;
			overflow-y: hidden;
			overflow-x: auto;

			z-index: 1;
		}

		&.on
		{
			display: flex;
		}
	}

	@media (min-width: 768px) {
		width: 750px;
	}
	@media (min-width: 992px) {
		width: 970px;
	}
	@media (min-width: 1200px) {
		width: 100%;
	}
}

#Slider
{
	margin: 15px 0;
	@media (min-width: 1200px)
	{
		margin: 15px 1.6%
	}
}

.FlexContainer
{

	&#Body
	{
		margin: 0 1.6%;

		#Content
		{
			flex: 2 1;
			margin-right: 1.6%;
		}

		#Sidebar
		{
			flex: 1 1;

			@media (max-width: 768px)
			{
				display: none;
			}
		}
	}
}

div.Group       // Container for PostPreviews and widgets
{
	@extend .FlexContainer;
	margin-bottom: 15px;

	.Title
	{
		width: 100%;
		margin-bottom: 20px;

		h1, h2, h3, h4, h5, h6
		{
			border-bottom: solid 2px $gray;
		}
	}

	.Stretch
	{
		min-width: 100%;
	}

	.PostPreviewNarrow
	{
		flex: 1 1; // seems that percentage does not influence the view
		position: relative;
		margin: 0 1%;

		.Thumbnail
		{
			img
			{
				display: block;
				margin: auto;
				width: 100%;
				max-height: 250px;
			}
		}
	}
	.PostPreviewWide
	{
		@extend .FlexContainer;

		flex-wrap: nowrap;

		margin-bottom: 20px;

		img
		{
			width: 200px;
			height: 150px;
		}

		.Content
		{
			padding: 0 7px;

			max-height: 150px;

			overflow: auto;

			h1, h2, h3, h4, h5, h6
			{
				margin: 0 0 10px 0;
			}
		}
	}

	.WidgetPosts
	{
		height: 80px;
		margin-bottom: 3px;
		overflow: hidden;

		img
		{
			float: left;
			width: 80px;
			margin-right: 1.6%;
		}

		a
		{
			padding-right: 5%;
			display: block; // chrome fix
		}
	}

	.PostInfo
	{
		border-radius: 2px;

		padding: 5px 5px;

		color: lightgray;
		text-align: center;

		&:hover
		{
			color: gray;
		}
	}
}

ul.Pagination
{
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;

	li
	{
		margin: 0 3px;
		display: inline-block;
		align-items: baseline;

		a
		{
			padding: 8px 16px;
		}
	}

}

footer
{
	min-height: 60px;
	padding: 2.6% 0 1% 0;

	@extend .FlexContainer;

	:first-child
	{
		margin-left: 2px;
	}
	div
	{
		flex: 1 1;
	}

	.Group
	{
		display: block;

		margin: 0 0.6%;

		.Title
		{
			flex: 1 1 5%;
		}
	}

	@media (max-width: 768px) {
		display: none;
	}
}
