$navbar_collapse_breakpoint: 768px;
// global colors
$blue: #77c9d4;
$green: #57db90;
$dark_green: #014249;

$gray: #7a7a7a;
$lighter_gray: #d3d3d3;
$light_gray: #f2f2f2;

$text: #000;

// admin site
$menu_background: #363b3f;
$selection: #e14d43;
