<%= form_for(@user) do |f| %>
	<% if @user.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
	
		<ul>
		<% @user.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
		</ul>
	</div>
	<% end %>
	
	<div class="field">
		<%= f.label :Nickname %><br>
		<%= f.text_field :Nickname %>
	</div>
	
	<div class="field">
		<%= f.label :Name %><br>
		<%= f.text_field :Name %>
	</div>
	
	<div class="field">
		<%= f.label :Surname %><br>
		<%= f.text_field :Surname %>
	</div>

	<div class="field">
		<%= f.label :Email %><br>
		<%= f.text_field :Email %>
	</div>

	<div class="field">
		<%= f.label :Group %><br>
		<%= f.select :Group, Admin::User.Groups, selected: Admin::User.Groups[@user.Group] %>
	</div>
	
	<div class="field">
		<%= f.label :password %><br>
		<%= f.text_field :password %>
	</div>

    <div class="field">
      <%= f.label :password_confirmation %><br>
      <%= f.text_field :password_confirmation %>
    </div>
	
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
