<p id="notice"><%= notice %></p>

<h1>Listing Admin Users</h1>

<table>
	<thead>
		<tr>
			<th>Nickname</th>
			<th>Name</th>
			<th>Surname</th>
			<th>Email</th>
			<th>Group</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.Nickname %></td>
				<td><%= user.Name %></td>
				<td><%= user.Surname %></td>
				<td><%= user.Email %></td>
				<td><%= user.Group %></td>
				<td><%= link_to 'Show', user, class: 'Button' %></td>
				<td><%= link_to 'Edit', edit_admin_user_path(user), class: 'Button' %></td>
				<td><%= link_to 'Destroy', user, method: 'delete', data: { confirm: 'Are you sure?' }, class: 'Button' %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New User', new_admin_user_path, class: 'Button' %>
