<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @user.Nickname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.Name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.Surname %>
</p>

<p>
  <strong>Group:</strong>
  <%= @user.Group %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<%= link_to 'Edit', edit_admin_user_path(@user), class: 'Button' %>
<%= link_to 'Back', admin_users_path, class: 'Button' %>
