<!DOCTYPE html>
<html>
<head>
	<title><%= siteName %></title>

	<% unless params[:controller].eql? 'admin' %>
		<%= stylesheet_link_tag params[:controller], media: 'all' %>
	<% end %>
	<%= stylesheet_link_tag 'admin', media: 'all' %>
	<%= stylesheet_link_tag 'scaffolds', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'><!-- font -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"><!-- icons -->
	<%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'admin/navigation' %>

<%= yield %>

</body>
</html>
