<!DOCTYPE html>
<html>
<head>
	<title><%= siteName %></title>
	<%= stylesheet_link_tag params[:controller] %>

	<link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'><!-- font -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"><!-- icons -->

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'navigation' %>

<%= yield %>

<%# render partial: 'footer' %>

<script type="text/javascript" data-turbolinks-track="true">
	var reformalOptions = {
		project_id: 973009,
		project_host: "controlit.reformal.ru",
		tab_orientation: "bottom-left",
		tab_indent: "10px",
		tab_bg_color: "#5f5f5f",
		tab_border_color: "#FFFFFF",
		tab_image_url: "http://tab.reformal.ru/T9GC0LfRi9Cy0Ysg0Lgg0L%252FRgNC10LTQu9C%252B0LbQtdC90LjRjw==/FFFFFF/9c1f751cd883e990123aab292c606f93/bottom-left/1/tab.png",
		tab_border_width: 0
	};

	(function() {
		var script = document.createElement('script');
		script.type = 'text/javascript'; script.async = true;
		script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
		document.getElementsByTagName('head')[0].appendChild(script);
	})();
</script><noscript><a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png" /></a><a href="http://controlit.reformal.ru">Oтзывы и предложения для controlit</a></noscript>

</body>
</html>
